@charset "utf-8";
/* CSS Document */
					h2
					{font-family: "Martian Mono", monospace;
  					font-optical-sizing: auto;
  					font-weight:400;
  					font-style: normal;
  					font-variation-settings:
    				"wdth" 100;
					}
					h4{
						font-family: "Courgette", cursive;
						  font-weight: 700;
						  font-style: normal;
						  
				}
				
				p{
	
  
					   font-family: "Sriracha", cursive;
					  font-weight: 400;
					  font-style: normal;
}
				*{
  					box-sizing: border-box;
					}
				.topnav {
					width:100%;
 					overflow: auto;
  					background-color:#644F35;
					}

				.topnav a {
  					float: left;
  					color: #f2f2f2;
  					text-align: center;
  					padding: 14px 16px;
  					text-decoration: none;
  					font-size: 17px;
					width:20%;
					}

				.topnav a:hover {
  					background-color: #ddd;
  					color: black;
					}	

				.topnav a.active {
  					color: white;
					}
			   @media screen and (max-width: 500px) {
  				.topnav a, .rowd  {
    				float: none;
    				display: flex;
    				width: 100%;
    				text-align: left;
					flex-direction: column;
 					}
						}

				.rowc::after {
  					content: "";
  					clear: both;
  					display: table;
					}

				[class*="col-"] {
  					float: left;
  					padding: 15px;
					}
				.header {
					background-color:#CD8F44;
     				color: white;
     				text-shadow: 3px 4px 3px #000000;
     				font-size:35px;
					font-family: "Martian Mono", monospace;
  					font-optical-sizing: auto;
  					font-weight:200;
  					font-style: normal;
  					font-variation-settings:
    				"wdth" 100;
 	 				text-align: center;
 	 				padding: 15px;
	 				box-shadow: 5px 5px 7px 2px black ;
					}
				.menu ul {
 					list-style-type: none;
  					margin: 0;
  					padding: 0;
					}
				.menu li {
  					padding: 8px;
 					margin-bottom: 7px;
  					background-color:#D5B678;
  					color: #ffffff;
 					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
					}
				.menu li:hover {
  					background-color:#E3D1AC;
					}
				.aside {
  					background-color:#5A3F27;
  					padding: 15px;
  					color: #f1f1f1;
  					text-align: center;
  					font-size: 14px;
  					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
					}
				.footer {
  					background-color:#495647;
  					color: #ffffff;
  					
  					font-size: 12px;
  					
					width:100%;
					left:0;
					bottom:0;
					}
				.logo{
				text-align: center;
				width:100%;
				padding:10px 5px 5px 1px;}
			
				[class*="col-"] {
  					width: 100%;
					}

				@media only screen and (min-width: 1050px) {
  
  					.col-s-1 {width: 8.33%;}
  					.col-s-2 {width: 16.66%;}
  					.col-s-3 {width: 25%;}
  					.col-s-4 {width: 33.33%;}
  					.col-s-5 {width: 41.66%;}
  					.col-s-6 {width: 50%;}
  					.col-s-7 {width: 58.33%;}
  					.col-s-8 {width: 66.66%;}
  					.col-s-9 {width: 75%;}
  					.col-s-10 {width: 83.33%;}
 				 	.col-s-11 {width: 91.66%;}
  					.col-s-12 {width: 100%;}
					}
				@media only screen and (min-width: 1050px) {
  
  					.col-1 {width: 8.33%;}
  					.col-2 {width: 16.66%;}
  					.col-3 {width: 25%;}
  					.col-4 {width: 33.33%;}
  					.col-5 {width: 41.66%;}
  					.col-6 {width: 50%;}
  					.col-7 {width: 58.33%;}
  					.col-8 {width: 66.66%;}
  					.col-9 {width: 75%;}
  					.col-10 {width: 83.33%;}
  					.col-11 {width: 91.66%;}
  					.col-12 {width: 100%;}
					}
				a {
					color:black;
				  }
				.rowd {
  					display: flex;
  					flex-wrap: wrap;
				  }

				.left {
  					background-color: #5A3F27;
  					color:#f1f1f1;
  					padding: 10px;
  					flex: 30%;
			      }
				.center {
    				background-color: #f1f1f1;
    				padding: 10px;
    				flex: 40%;
				}
				.right {
 					background-color: #5A3F27;
  					color:#f1f1f1;
  					padding: 10px;
  					flex: 30%;
  
				}
			    input[type=text], select, textarea {
 					width: 100%;
  					padding: 12px;
  					border: 1px solid #ccc;
  					margin-top: 6px;
  					margin-bottom: 16px;
  					resize: vertical;
				 }

			   input[type=submit] {
  					background-color: #04AA6D;
  					color: white;
  					padding: 12px 20px;
  					border: none;
  					cursor: pointer;
				}

			   input[type=submit]:hover {
  					background-color: #45a049;
			    }


			  .container {
				  border-radius: 5px;
  				
 				  padding: 10px;
				
               }


			  .column {
				  float: left;
				  width: 50%;
				  margin-top: 6px;
				  padding: 20px;
			}


				.row:after {
					content: "";
					display: table;
					clear: both;
			}


				@media screen and (max-width: 850px) {
					.column, input[type=submit] {
						width: 100%;
						margin-top: 0;
					}
			}
					.mama{
				text-align:center;
				background-color:#F2EBDC;
			}
 
				input[type=text], select, textarea {
					    width: 100%;
						padding: 12px;
						border: 1px solid #ccc;
						margin-top: 6px;
						margin-bottom: 16px;
						resize: vertical;
			}

				input[type=submit] {
					background-color: #D5B678;
				    color: white;
				    padding: 12px 20px;
				    border: none;
				    cursor: pointer;
			}

				input[type=submit]:hover {
					background-color:#CD9953;
			}
			
			form{
				border:thick;
				border-bottom: thin;
				background-color:#F2EBDC;
			}
			.contact{
				text-align:center;
				background-color:#F2EBDC;
			}
				.button{
					display:inline-block;
					padding: 15px 25px;
					font-size: 20px;
					cursor: pointer;
					text-align: center;
					text-decoration: none;
					outline: none;
					color: #fff;
					background-color:#D5B678;
					border-radius: 15px;
					box-shadow: 0 9px #999;
				}

				.button:hover {
					background-color:#CCA048
				}
				.button:active{
					background-color:#B88613;
					box-shadow: 0 5px #666;
					transform: translateY(4px);
				}
			.submitt{
					display:inline-block;
					padding: 15px 25px;
					font-size: 20px;
					cursor: pointer;
					text-align: center;
					text-decoration: none;
					outline: none;
					color: #fff;
					background-color:#D5B678;
					border-radius: 15px;
					box-shadow: 0 9px #999;
				}

				.submittt:hover {
					background-color:#CCA048
			    }
				.submitt:active{
					background-color:#B88613;
					box-shadow: 0 5px #666;
					transform: translateY(4px);
				}
				.background{
					background-attachment: fixed;
					background-image: url("photos/pawsbackground.jpeg");
					background-repeat:repeat;
				  }
				.columnb {
 					float: left;
  					width: 50%;
  					margin-top: 6px;
  					padding: 20px;
				}
				.rowa:after {
  					content: "";
  					display: table;
  					clear: both;
					}
			   .containerb {
  					border-radius: 5px;
  					padding: 10px;
				}

				.about {border:thick;
					border-bottom: thin;
					background-color:#F2EBDC;
					padding: 15px;
  					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
					}
				.flex-container {
				  display: flex;
				  flex-direction: row;
				  font-size: 20px;
				  text-align: center;
				}

				.flex-item-left {
				  background-color: #F2EBDC;
				  padding: 10px;
				  flex: 50%;
				}

				.flex-item-right {
				  background-color: #F2EBDC;
				  padding: 10px;
				  flex: 50%;
				}
				@media (max-width: 2000px) {
				  .flex-container {
					flex-direction: column;
				  }
				}

